<!-- TODOS LOS PROYECTOS-->

<script type="text/javascript">
$("#navBar-list").css('display', 'none');
</script>

<script type="text/javascript">
	$(".page-transition-gradient").animate({
		top:'100vh'
		},0,"easeInOut",function(){
	});
</script>

<script type="text/javascript">
$(".Voice_h3").css('color', 'rgba(255,255,255,1)');
$(".Cintillo").css('color', 'rgba(255,255,255,0.3)');
</script>

<div class="love-container" id="fade-love">
	<div class="love-gallery-wrap">
		{{#each data.projects.results}}
			<div class="love-item">
				<h5 class="Main-Title" id="{{{@index}}}">{{{@index}}}</h5>
				<script type="text/javascript">
					if({{{@index}}}<10){
						$("#{{{@index}}}").text('0' +"{{{@index}}}");
					}else{
					}
				</script>
				<h1>{{{featrueText}}}</h1>
				
				<p class="love-works-categories" style="color: rgba(226,226,226,0.4)">{{#each categories}} {{name}} -{{/each}}</p>
				<script type="text/javascript">
				$('.love-works-categories').text(function(_, txt) {
					return txt.slice(0, -1);
				});</script>
				<a alt="{{projectUrl slug}}">
				</a">
				<div class="love-item-image" style="background-image: url('{{heroImage.url}}')"></div>
			</div>
		{{/each}}
	</div>
	<div id="background-color" data-aos="flip-up"></div>

</div>


<!-- MOBILE-->


{{#each data.projects.results}}
		<div class="works-dv-ittem">
			<a alt="{{projectUrl slug}}">
				<h3 class="Hello_h2 works-dv-title" style="color: #fff">{{{featrueText}}}</h3>
			</a>
			<p class="Cintillo love-c@ategories works-dv-categories" style="color: rgba(255,255,255,1)">{{#each categories}} {{name}} -{{/each}}</p>
			<img class="works-dv-bg-img" src="{{heroImage.url}}">
		</div>
		{{/each}}


<!--
	<div class="masonry">
		{{#each data.projects.results}}
		<div class="mItem">
			<a alt="{{projectUrl slug}}">
				<h3 class="Hello_h2" style="color: #fff">{{{featrueText}}}</h3>
			</a>
			<p class="Cintillo love-categories" style="color: rgba(255,255,255,1)">{{#each categories}} {{name}} -{{/each}}</p>
			<img class="img_masonry" src="{{heroImage.url}}">
		</div>
		{{/each}}
		<div style="width: 100vw; height: 5vh;">
		</div>
	</div>
</main>
-->
	<!-- SCRIPTS-->


<script type="text/javascript">
$('.works-categories').text(function(_, txt) {
	return txt.slice(0, -1);
});</script>

<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/demo.js"></script>

<script type="text/javascript">
$('.love-categories').text(function(_, txt) {
	return txt.slice(0, -1);
});</script>

<script type="text/javascript">
$(".love-item").hover(function() {
    $(this).siblings(".love-item").css('filter', 'blur(16px) grayscale(0%)');
    $(this).siblings(".love-item").css('opacity', '0.2');
}, function() {
    $(this).siblings(".love-item").css('filter', 'blur(0px) grayscale(0%)');
        $(this).siblings(".love-item").css('opacity', '1');
});
</script>
