<script type="text/javascript">
$("#navBar-list").css('display', 'none');
</script>
 <script src="../../js/mousePlayground_yellow.js"></script>
    <div id="canvasContainer_yellow" ></div>
    
{{#if data.project.dark}}
<script type="text/javascript">
	$('body').addClass('dark_project');
	$('body').css('opacity', '1')
</script>
{{else}}
	<script type="text/javascript">
	$('body').addClass('dark_project');
</script>
{{/if}}

<script type="text/javascript">
$(".Voice_h3").css('color', 'rgba(255,255,255,1)');
$(".Cintillo").css('color', 'rgba(255,255,255,0.3)');
</script>
<div id="project-background_color" data-aos="flip-down"></div>

<script type="text/javascript">
	var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};
	if(isMobile.any()){
		$('body').css('background-color', '{{data.project.bgColor}}');
	}else{
			$('body').css('background-color', 'rgba(226,226,226,1)');
	}
	$('#project-background_color').css('background-color', '{{data.project.bgColor}}');
</script>


<script type="text/javascript">
	$(".page-transition-gradient").animate({
		top:'100vh'
		},200,"easeInOut",function(){
	});
</script>


<div id="project">
	
	<!-- Image 2 AND video 00 -->
	<div id="project-img_2_v0-container">
		{{#if data.project.video_00}}
		<div class="embed-container">
			<iframe src="https://player.vimeo.com/video/{{data.project.video_00}}?autoplay=0&color=FF9C9C&title=0&byline=0&portrait=0&autopause=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-aos="fade-up" data-aos-delay="100"></iframe>
		</div>
		<script src="https://player.vimeo.com/api/player.js"></script>
		<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important" id="video_00-info" >{{data.project.video_00_info}}</p>
		{{else}}{{/if}}
	</div>
	<!-- Creditos -->
	{{#if data.project.credits}}
	<div id="project-spacer" data-aos="fade-up" data-aos-delay="0"></div>

	<div id = "project-creditos-container" data-aos="fade-up">
			{{{data.project.credits}}}
			<img id="project-smiley" src="https://iconsplace.com/wp-content/uploads/_icons/ffffff/256/png/hearts-icon-18-256.png">
			</img>
	</div>
	{{else}}{{/if}}


<!-- scripts -->

<script src="../../js/projectAnimations.js"></script>


