<script type="text/javascript">
$("#navBar-list").css('display', 'none');
</script>
 <script src="../../js/mousePlayground_yellow.js"></script>
    <div id="canvasContainer_yellow" ></div>
    
{{#if data.project.dark}}
<script type="text/javascript">
	$('body').addClass('dark_project');
	$('body').css('opacity', '1')
</script>
{{else}}
	<script type="text/javascript">
	$('body').addClass('dark_project');
</script>
{{/if}}

<script type="text/javascript">
$(".Voice_h3").css('color', 'rgba(255,255,255,1)');
$(".Cintillo").css('color', 'rgba(255,255,255,0.3)');
</script>
<div id="project-background_color" data-aos="flip-down"></div>

<script type="text/javascript">
	var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};
	if(isMobile.any()){
		$('body').css('background-color', '{{data.project.bgColor}}');
	}else{
			$('body').css('background-color', 'rgba(226,226,226,1)');
	}
	$('#project-background_color').css('background-color', '{{data.project.bgColor}}');
</script>


<script type="text/javascript">
	$(".page-transition-gradient").animate({
		top:'100vh'
		},200,"easeInOut",function(){
	});
</script>


<div id="project">
	<!-- Foto y titulo -->
	<div id="project-header">
			{{#if data.project.heroVideo}}
				<div id="project-header-featured_image" data-aos="fade-up" data-aos-delay="900" info ="{{data.project.heroImage.url}}");">
					<iframe allow="autoplay;" src="https://player.vimeo.com/video/{{data.project.heroVideo}}?background=true" class="video-project-featured" frameborder="0"></iframe>
				</div>
				{{else}}
				<div id="project-header-featured_image" data-aos="fade-up" data-aos-delay="900" info ="{{data.project.heroImage.url}}" >
				</div>
			{{/if}}

			<div id="project-header-title" data-aos="fade-up" data-aos-delay="500">
				<h1 class="Main-Title">{{{data.project.featrueText}}}<h1>
			</div>
	</div>
	<!-- Tabla de datos -->
	<div id="project-table" data-aos="fade-up" data-aos-delay="500">
		<div id="project-table_AB">
			<div class="project-table-data" id="project-table-client"  data-aos="fade-up" data-aos-delay="550">
				<div class="project-table-label">
					<p >{{data.project.Label_Text_Client}}</p>
				</div>
				<div class="project-table-info">
					<p class="p-bold">{{data.project.client}}</p>
				</div>
			</div>
			<div class="project-table-data" id="project-table-year"  data-aos="fade-up" data-aos-delay="550">
				<div class="project-table-label">
					<p>{{data.project.Label_Text_Producer}}</p>
				</div>
				<div class="project-table-info">
					<p class="p-bold">{{data.project.producer}}</p>
				</div>
			</div>
		</div>

		<div id="project-table_C">
			<div class="project-table-data" id="project-table_tool"  data-aos="fade-up" data-aos-delay="600">
				<div class="project-table-label">
					<p>{{data.project.Label_Text_Disciplines}}</p>
				</div>
				<div class="project-table-info">
					<p class="p-bold works-categories">
					{{#each data.project.categories}}
					{{name}} ·{{/each}}<p>
					<script type="text/javascript">
						$('.works-categories').text(function(_, txt) {
							return txt.slice(0, -1);
						});
					</script>
				</div>
			</div>
		</div>
	</div>

	<!-- Texto primero -->

	<div id="project-description-container" data-aos="fade-up" data-aos-delay="500">
		<div id="project-description-intro" class="project-description-all_text" data-aos="fade-up">
			<h6>{{{data.project.content.brief}}}</h6>
		</div>
		<div id="project-description-text" class="project-description-all_text p-text" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1800">
			{{{data.project.content.extended}}}
		</div>
	</div>

	<!-- Imágnes 0 y 1 + texto en movimiento -->
	{{#if data.project.image_00.url}}
	<div id="project-img_01-container" >
		<div id ="project-img_01-mooving-container" data-aos="fade" data-aos-delay="0" data-aos-duration="1200" >
			<h5 id="project-img_01-mooving-text"><span>{{{data.project.content.loop}}}</span></h5>
		</div>
		<div id="project-img_01-img0_container" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1200">
			<div id="project-img_01-img0" info ="{{data.project.image_00.url}}">
			</div>
			<div id="project-img_01-description">
				<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important">{{{data.project.image_0y1_info}}}</p>
			</div>
		</div>
		<div id="project-img_01-img1" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1200" info = "{{data.project.image_01.url}}">
		</div>
	</div>
	{{else}}{{/if}}

	<!-- Texto extra -->
	<div id="project-extra_info-container" class="p-text" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
			{{{data.project.content.addition}}}
	</div>

	<!-- Image 2 AND video 00 -->
	<div id="project-img_2_v0-container">
		{{#if data.project.video_00}}
		<div class="embed-container">
			<iframe src="https://player.vimeo.com/video/{{data.project.video_00}}?autoplay=0&color=FF9C9C&title=0&byline=0&portrait=0&autopause=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-aos="fade-up" data-aos-delay="100"></iframe>
		</div>
		<script src="https://player.vimeo.com/api/player.js"></script>
		<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important" id="video_00-info" >{{data.project.video_00_info}}</p>
		{{else}}{{/if}}
		<div id="project-img_2-container" data-aos="fade-up" data-aos-delay="100" info="{{data.project.image_02.url}}">
		</div>
		<div class="cintillo-info img_2-info" data-aos="fade-in" data-aos-delay="200" style="color: rgba(226,226,226,0.45)">
			<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important">{{data.project.IMG02_info}}</p>
		</div>
	</div>

	<!-- Separador -->
	<div id="project-spacer" data-aos="fade-up" data-aos-delay="0"></div>

	<!-- Project colors -->

	<div id="project-colors">
		{{#if data.project._01_HEX}}
		<div class ="project-colors-color_container" data-aos="fade-up" data-aos-delay="0">
			<div class="project-colors-sample" style="background-color: {{data.project._01_HEX}}"></div>
			<div class="project-colors-label">
				<p>{{data.project._01_HEX}}</p>
			</div>
		</div>
		{{else}}{{/if}}
		{{#if data.project._02_HEX}}
		<div class ="project-colors-color_container" data-aos="fade-up" data-aos-delay="150">
			<div class="project-colors-sample" style="background-color: {{data.project._02_HEX}}"></div>
			<div class="project-colors-label">
				<p>{{data.project._02_HEX}}</p>
			</div>
		</div>
		{{else}}{{/if}}
		{{#if data.project._03_HEX}}
		<div class ="project-colors-color_container" data-aos="fade-up" data-aos-delay="300">
			<div class="project-colors-sample" style="background-color: {{data.project._03_HEX}}"></div>
			<div class="project-colors-label">
				<p>{{data.project._03_HEX}}</p>
			</div>
		</div>
		{{else}}{{/if}}
		{{#if data.project._04_HEX}}
		<div class ="project-colors-color_container" data-aos="fade-up" data-aos-delay="450">
			<div class="project-colors-sample" style="background-color: {{data.project._04_HEX}}"></div>
			<div class="project-colors-label">
				<p>{{data.project._04_HEX}}</p>
			</div>
		</div>
		{{else}}{{/if}}
		{{#if data.project._05_HEX}}
		<div class ="project-colors-color_container" data-aos="fade-up" data-aos-delay="600">
			<div class="project-colors-sample" style="background-color: {{data.project._05_HEX}}"></div>
			<div class="project-colors-label">
				<p>{{data.project._05_HEX}}</p>
			</div>
		</div>
		{{else}}{{/if}}
	</div>

	<!-- Imágnes 3 y 4  -->
	{{#if data.project.image_04.url}}
	<div id="project-img_34-container">
		<div id="project-img_34-img3" data-aos="fade-up" data-aos-delay="0" info = "{{data.project.image_03.url}}">
		</div>
		<div id="project-img_34-img4-container" data-aos="fade-up" data-aos-delay="600"	>
			<div id="project-img_34-img4" info="{{data.project.image_04.url}}" class="project-img_full">
			</div>
		</div>
		<div class="cintillo-info" id="project-img_34-description" data-aos="fade-in" data-aos-delay="200">
			<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important">{{data.project.image_3y4_info}}</p>
		</div>
	</div>
	{{else}}
	{{/if}}

	<!-- Pill -->
	{{#if data.project.content.pill}}
	<div id = "project-pill-container">
		<div id="project-description-intro" class="project-description-all_text" data-aos="fade-up">
			<h6>{{{data.project.content.pill}}}</h6>
		</div>
	</div>
	{{else}}{{/if}}

	<!-- Pill II -->
	{{#if data.project.content.pill_2}}
	<div id = "project-pill_II-container">
		<div id="project-description-intro" data-aos="fade-up">
			<h6>{{{data.project.content.pill_2}}}</h6>
		</div>
	</div>
	{{else}}
	{{/if}}


	<!-- Videos -->

	{{#if data.project.video_01}}
	<div class ="project-video-container">
		<div class="video-player">
			<div class="embed-container">
				<iframe src="https://player.vimeo.com/video/{{data.project.video_01}}?autoplay=0&color=FF9C9C&title=0&byline=0&portrait=0&autopause=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-aos="fade-up" data-aos-delay="100"></iframe>
			</div>
			<script src="https://player.vimeo.com/api/player.js"></script>
		</div>
		<div class="cintillo-info" data-aos="fade-in" data-aos-delay="200">
			<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important">{{data.project.video_01_info}}</p>
		</div>
	</div>
	{{else}}{{/if}}


	{{#if data.project.video_02}}
	<div class ="project-video-container">
		<div class="video-player">
			<div class="embed-container">
				<iframe src="https://player.vimeo.com/video/{{data.project.video_02}}?autoplay=0&color=FF9C9C&title=0&byline=0&portrait=0&autopause=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-aos="fade-up" data-aos-delay="0"></iframe>
			</div>
			<script src="https://player.vimeo.com/api/player.js"></script>
		</div>
		<div class="cintillo-info" data-aos="fade-in" data-aos-delay="200">
			<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important">{{data.project.video_02_info}}</p>
		</div>
	</div>
	{{else}}{{/if}}

	<!-- Image 5A y 5B -->

	{{#if data.project.image_05.url}}
	<div class="img-container-end">
		<div id="project-img_5A" class="img-project-N project-img_5-container" data-aos="fade-up" data-aos-delay="0" info="{{data.project.image_05.url}}" style="background-image: url('{{data.project.image_05.url}}') !important;">
		</div>
		<div id="project-img_5B" class="img-project-N project-img_5-container" data-aos="fade-up" data-aos-delay="0" info="{{data.project.image_05B.url}}" style="background-image: url('{{data.project.image_05B.url}}') !important;">
		</div>
		<div class="cintillo-info img_2-info" data-aos="fade-in" data-aos-delay="200" id="img_5AB-info">
			<p class="Cintillo" style="margin-bottom: 1vh;" style="color: rgba(226,226,226,0.45) !important">{{data.project.IMG05_info}}</p>
		</div>
	</div>
	{{else}}
	{{/if}}

	<!-- Image 6 -->

	{{#if data.project.image_06.url}}
	<div class="img-container-end">
		<div id="project-img_6-container" class="img-project-N" info="{{data.project.image_06.url}}" style="background-image: url('{{data.project.image_06.url}}');" data-aos="fade-in" data-aos-delay="200">
		</div>
		<div class="img_6-info" data-aos="fade-in" data-aos-delay="200">
			<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important">{{data.project.IMG06_info}}</p>
		</div>
	</div>
	{{else}}
	{{/if}}

	<!-- Video 03 -->

	{{#if data.project.video_03}}
	<div class ="project-video-container">
		<div class="video-player">
			<div class="embed-container">
				<iframe src="https://player.vimeo.com/video/{{data.project.video_03}}?autoplay=0&color=FF9C9C&title=0&byline=0&portrait=0&autopause=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-aos="fade-up" data-aos-delay="100"></iframe>
			</div>
			<script src="https://player.vimeo.com/api/player.js"></script>
		</div>
		<div class="cintillo-info" data-aos="fade-in" data-aos-delay="200">
			<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important">{{data.project.video_03_info}}</p>
		</div>
	</div>
	{{else}}{{/if}}

	<!-- Image 7 -->
	{{#if data.project.image_07.url}}
	<div class="img-container-end">
		<div id="project-img_7-container" class="img-project-N" data-aos="fade-up" data-aos-delay="0" info="{{data.project.image_07.url}}" style="background-image: url('{{data.project.image_07.url}}');">
		</div>
		<div class="cintillo-info img_2-info" data-aos="fade-in" data-aos-delay="200">
			<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important">{{data.project.IMG07_info}}</p>
		</div>
	</div>
	{{else}}
	{{/if}}

	<!-- Video final -->
	{{#if data.project.video_04}}
	<div class ="project-video-container">
		<div class="video-player">
			<div class="embed-container">
				<iframe src="https://player.vimeo.com/video/{{data.project.video_04}}?autoplay=0&color=FF9C9C&title=0&byline=0&portrait=0&autopause=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-aos="fade-up" data-aos-delay="100"></iframe>
			</div>
			<script src="https://player.vimeo.com/api/player.js"></script>
		</div>
		<div class="cintillo-info" data-aos="fade-in" data-aos-delay="200">
			<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important">{{data.project.video_04_info}}</p>
		</div>
	</div>
	{{else}}{{/if}}

	<!-- Texto Cierre -->
	{{#if data.project.content.cierre}}

	<div id="project-extra_info-container" class="p-text" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
			{{{data.project.content.cierre}}}
	</div>

	{{else}}{{/if}}


	<!-- Imagen final -->
	{{#if data.project.image_08.url}}
	<div id="project-img_8-container" data-aos="fade-up" data-aos-delay="0" info="{{data.project.image_08.url}}" style="background-image: url('{{data.project.image_08.url}}');">
	</div>
	{{else}}{{/if}}



	<!-- Creditos -->
	{{#if data.project.credits}}
	<div id="project-spacer" data-aos="fade-up" data-aos-delay="0"></div>

	<div id = "project-creditos-container" data-aos="fade-up">
			{{{data.project.credits}}}
			<img id="project-smiley" src="https://iconsplace.com/wp-content/uploads/_icons/ffffff/256/png/hearts-icon-18-256.png">
			</img>
	</div>
	{{else}}{{/if}}



<div class="home-block" id="project-img_works">
	<div id="home-img_me-title" data-aos="fade-down" data-aos-delay="200">
		<a alt="/works">
			<h2 class=".Hello_h2">{{{data.project.buttonText_PROJECT}}}</h2>
		</a>
	</div>
	<div id="home-img_me-04" class="home-img_me" data-aos="fade-up" data-aos-delay="0" style="background-image: url('{{data.project.image_projects_01.url}}');"></div>
	<div id="home-img_me-05" class="home-img_me" data-aos="fade-up" data-aos-delay="100" style="background-image: url('{{data.project.image_projects_02.url}}');"></div>
	<div id="home-img_me-06" class="home-img_me" data-aos="fade-up" data-aos-delay="200" style="background-image: url('{{data.project.image_projects_03.url}}');"></div>
</div>


<!-- scripts -->

<script src="../../js/projectAnimations.js"></script>


