
<script type="text/javascript">
	$(".page-transition-gradient").animate({
		top:'100vh'
		},0,"easeInOut",function(){
	});
	$('#hello_world').css('height','100vh')
</script>


<!--
**************** -->


<main id="works-all"  data-aos="fade-up">
	<div data-scroll>
		<div class="content">
			<!-- HOME IMAGE-->
			<div style=" position: fixed; width: 80vw; height: 70vh; top: 0; margin-top:15vh;overflow: hidden; border-radius: 6px; box-shadow: 6px 6px 60px rgba(0,0,0,0.6);">
				<div class="works-featured_image" style="background-image: url('{{image_WORKS.url}}'); pointer-events: none;" >
								<iframe allow="autoplay;" src="https://player.vimeo.com/video/721511587?h=224ec22425&amp;background=true" style="
										position:absolute;
										top:0%;
										left: 0%;
										width:100vw;
										height:100vh; 
										transform: translate(-10vw, -10vh);
										overflow: hidden;
										pointer-events: none;
										" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>




{{#each generals}}
		{{#ifEquals title "About"}}
			<style type="text/css">
				.item__img-wrap {
					border-radius: {{{WORKS_BORDER_RADIUS}}}px !important;
				}
			</style>
		{{/ifEquals}}
{{/each}}


	<!-- MOBILE-->
	<div id="featured_project">

		<div class="item__img item__img--t1" style="background-image: url('{{image_WORKS.url}}'); pointer-events: none !important;">
			<div class="works-featured_image" style="background-image: url('{{image_WORKS.url}}'); pointer-events: none;" >
				<iframe allow="autoplay;" class="video-featured" src="https://player.vimeo.com/video/721511587?background=true" style="
					position:absolute;
					top:0%;
					left: 0%;
					overflow: hidden;
					pointer-events: none;
					" frameborder="0">				
				</iframe>
			</div>
		</div>
	</div>

	<div class="featured_project-red">
		<div class="home-block" style="padding-bottom: 10vh; padding-top: 10vh;border-bottom: 0;" data-aos="fade-up" data-aos-delay="0">
			<div class="home-container home-info" id="pill_home">
				{{#each generals}}{{#ifEquals title "About"}}
				<h2 class="Hello_h2 contact-pill" style="font-size: 6vh !important; line-height: 6vh !important; width: 100%; color: rgb(1,1,1) !important">{{{HeroText}}}<br><br><span style="text-align: right; padding-left: 80vw;">↓</span></h2>
				{{/ifEquals}}{{/each}}
			</div>
		</div>
	</div>


	<div class="masonry">
		{{#each data.projects.results}}
		<div class="mItem">
			<a alt="{{projectUrl slug}}">
				<h3 class="Hello_h2" style="color: #fff">{{{featrueText}}}</h3>
			</a>
			<p class="Cintillo love-categories" style="color: rgba(255,255,255,1)">{{#each categories}} {{name}} -{{/each}}</p>
			<img class="img_masonry" src="{{heroImage.url}}">
		</div>
		{{/each}}
		<div style="width: 100vw; height: 5vh;">
		</div>
	</div>
</main>

	<!-- SCRIPTS-->


<script type="text/javascript">
$('.works-categories').text(function(_, txt) {
	return txt.slice(0, -1);
});</script>

<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/demo.js"></script>

<script type="text/javascript">
$('.love-categories').text(function(_, txt) {
	return txt.slice(0, -1);
});</script>

